*{
	font-family: "Lucida Grande", sans-serif;
	color: #666;
}

h1{
    margin-top: 42px;
    margin-bottom: 34px;
    font-size: 48px;
}

h2{
	color: #f07c17;
	font-size: 24px;
    font-weight: bold;
	margin-top: 0;
    margin-bottom: 28px;
}

img{
	max-width: 100%;
}

ul,
p{
    font-size: 16px;
    line-height: 2;
}

.features{
	margin-top: 30px;
	border: 1px solid #ccc;
    padding: 30px 30px 30px 30px;
}